<<<<<<< HEAD
<div class="wrapper">
<<<<<<< HEAD
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>
  <div class="chat">
    <%= render "main_chat" %>
  </div>
=======
  <%= render "side_bar" %>
  <%= render "main_chat" %>
>>>>>>> parent of fa8e43f... Revert "サイドバーとチャット画面ファイルの分割"
</div>
=======
<h1>Messages#index</h1>
<p>Find me in app/views/messages/index.html.erb</p>
>>>>>>> parent of 841e0b4... Revert "フロント実装の準備"
