<div class="wrapper">
<<<<<<< HEAD
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>
  <div class="chat">
    <%= render "main_chat" %>
  </div>
=======
  <%= render "side_bar" %>
  <%= render "main_chat" %>
>>>>>>> parent of fa8e43f... Revert "サイドバーとチャット画面ファイルの分割"
</div>